body {
	margin: 0;
	padding: 20px;
	font-size: 16px;
	font-family: Source Sans Pro;
}

.carousel {
	display: flex;
	box-sizing: border-box;
	height: 132px;
	padding: 15px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: scroll;
}

.carousel__item {
	background-color: #fff;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	min-width: 100px;
	width: 100px;
	height: 100px;
	padding: 5px;
	font-size: 11px;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.carousel__item--zoom {
	animation-name: zoom-container;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	z-index: 1;
}

.carousel__item--zoom-reverse {
	animation-name: zoom-container;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-direction: reverse;
}

.carousel__time {
	font-size: 1em;
}

.carousel__duration {
	font-size: 1em;
}

.carousel__title {
	font-size: 0.9em;
	margin: 0;
}

.carousel__title--blue {
	color: #243EFF;
}

.carousel__speaker {
	font-size: 9px;
	font-style: italic;
	margin: 0;
}

@keyframes zoom-container {
	from {
		width: 100px;
		height: 100px;
		font-size: 11px;
		margin: 0;
	}
	to {
		width: 120px;
		height: 120px;
		font-size: 13px;
		margin: -10px;
	}
}