body {
	margin: 0;
	padding: 20px;
	font-size: 16px;
	font-family: Source Sans Pro;
}

h1 {
	font-size: 20px;
	width: 200px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: center;
}

.trigram {
	float: right;
	color: #243EFF;
}

.days {
	height: 28px;
	margin: 0 5% 10px 5%;
	border-bottom: 1px solid #E3E3E3;
}

.days__day {
	display: inline-block;
	font-size: 18px;
	font-weight: 300;
	margin: 0;
}

.days__day--left {
	float: left;
}

.days__day--right {
	float: right;
}

.days__day--pink {
	color: #FF2DF1;
}